* {
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

nav {
  font-family: Almendra;
  font-size: 1.25rem;
  font-weight: 400;
}
nav img {
  max-height: 3rem;
  border-radius: 50%;
  margin-left: 25px;
  border: 2px solid black;
}
a.nav-link {
  color: rgb(53, 52, 52);
  --bs-nav-link-hover-color: #8d8d8d;
}
ul {
  align-items: center;
}

.photo {
  height: 775px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  box-shadow: inset 8000px 4px 4px rgba(0, 0, 255, 0.1);
  width: 100%;
  clear: both;
  display: block;
}

.caption {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  font-size: 1.5rem;
  color: white;
  border: 5px solid rgb(74, 79, 105);
  text-shadow: -2px 4px 6px black, -6px 4px 5px black;
  font-family: Akaya Telivigala;
  font-weight: bold;
  font-size: 2rem;
}

#MV {
  margin-top: 825px;
}
#MV h1,
#CATA h1,
#FORM h1 {
  font-family: Almendra;
  font-weight: bold;
  font-size: 4rem;
}
footer h1 {
  font-family: Almendra;
  font-weight: bold;
  font-size: 2rem
}

@media screen and (max-width: 425px) {
  .delete {
    display: none;
  }
}

.list-info {
  border: 1px solid rgb(126, 120, 120);
}
.card-img-top {
  height: 275px;  
}

.price-number {
  font-family: Akaya Telivigala;
  font-size: 2.2rem
}

.fa-sharp {
  font-size: 2rem;
}

#panier {
  /* Définir une couleur de fond et de texte */
  background-color: #0062cc;
  color: #fff;
  font-weight: 700;
  /* Ajouter un padding et un espacement pour le texte */
  padding: 8px 16px;
  margin-right: 10px;
  /* Ajouter une bordure arrondie */
  border-radius: 4px;
  /* Ajouter un effet de survol */
  transition: background-color 0.3s ease-in-out;
}

#panier:hover {
  /* Changer la couleur de fond au survol */
  background-color: #8d8d8d;
  text-decoration: none;
}

/* Scrollbar personnalisée */
::-webkit-scrollbar {
  width: 00px;
}

::-webkit-scrollbar-track {
  box-shadow: inset -5px 0 0 1px white, inset -9px 0 0 1px #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #e02200;
  border-radius: 8px;
  border-top: 1px #9e8989 solid;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.45), inset 0 0 5px 2px rgba(255, 0, 0, 0.4);
}
::-webkit-scrollbar {
  width: 8px;
}

