/* Initialisation des propriétés de base */
* {
  padding: 0;
  margin: 0;
}

/* Styles pour la balise nav */
nav {
  font-family: Almendra;
  font-size: 1.25rem;
  font-weight: 400;
}

/* Styles pour l'icône nav */
nav img {
  max-height: 3rem;
  border-radius: 50%;
  margin-left: 25px;
  border: 2px solid black;
}

/* Styles pour les liens de navigation nav */
a.nav-link {
  color: rgb(53, 52, 52);
  --bs-nav-link-hover-color: #8d8d8d;
}

/* Alignement des éléments de la liste à puce */
ul {
  align-items: center;
}

/* Styles pour la section diaporama*/
.photo {
  height: 775px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  box-shadow: inset 8000px 4px 4px rgba(0, 0, 255, 0.1);
  width: 100%;
  clear: both;
  display: block;
}

/* Styles pour la légende du diaporama */
.caption {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  font-size: 1.5rem;
  color: white;
  border: 5px solid rgb(74, 79, 105);
  text-shadow: -2px 4px 6px black, -6px 4px 5px black;
  font-family: Akaya Telivigala;
  font-weight: bold;
  font-size: 2rem;
}

/* Permet de passer à travers la position absolute du diaporama */
#MV {
  margin-top: 825px;
}

/* Styles pour les titres des sections */
#MV h1,
#CATA h1,
#FORM h1 {
  font-family: Almendra;
  font-weight: bold;
  font-size: 4rem;
}

/* Styles pour le titre du footer */
footer h1 {
  font-family: Almendra;
  font-weight: bold;
  font-size: 2rem;
}

/* Permet de retirer 3/6 des meilleurs ventes lorsque version mobile*/
@media screen and (max-width: 425px) {
  .delete {
    display: none;
  }
}

/* Styles pour les informations de la liste */
.list-info {
  border: 1px solid rgb(126, 120, 120);
}

/* Styles pour les images de la liste */
.card-img-top {
  height: 275px;
}

/* Styles pour le nombre de prix */
.price-number {
  font-family: Akaya Telivigala;
  font-size: 2.2rem;
}

/* Styles pour l'icône */
.fa-sharp {
  font-size: 2rem;
}

/* Style pour un bouton panier */
#panier {
  /* Définir une couleur de fond et de texte */
  background-color: #0062cc;
  color: #fff;
  font-weight: 700;
  /* Ajouter un padding et un espacement pour le texte */
  padding: 8px 16px;
  margin-right: 10px;
  /* Ajouter une bordure arrondie */
  border-radius: 4px;
  /* Ajouter un effet de survol */
  transition: background-color 0.3s ease-in-out;
}

#panier:hover {
  /* Changer la couleur de fond au survol */
  background-color: #8d8d8d;
  text-decoration: none;
}

/* Style pour une scrollbar personnalisée */
/* Suppression de la scrollbar originale */
::-webkit-scrollbar {
  width: 00px;
}

/* Style pour la piste de la scrollbar */
::-webkit-scrollbar-track {
  /* Ajout d'une bordure à gauche */
  box-shadow: inset -5px 0 0 1px white, inset -9px 0 0 1px #f5f5f5;
}

/* Style pour le pouce de la scrollbar */
::-webkit-scrollbar-thumb {
  /* Définir la couleur de fond */
  background: #e02200;
  /* Ajouter une bordure arrondie */
  border-radius: 8px;
  /* Ajouter une bordure supérieure */
  border-top: 1px #9e8989 solid;
  /* Ajouter une ombre */
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.45), inset 0 0 5px 2px rgba(255, 0, 0, 0.4);
}

/* Style pour la largeur de la scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Style pour une section météo */
.container-meteo {
  /* Centrer la section et définir sa largeur */
  margin: 50px auto;
  width: 200px;
  /* Ajouter une couleur de fond et une bordure arrondie */
  background-color: #FFFFFF;
  border-radius: 10px;
  /* Ajouter une ombre */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

/* Style pour l'icône météo */
.weather-icon {
  /* Ajouter un padding et centrer le texte */
  padding: 0px;
  text-align: center;
  /* Ajouter une couleur de fond */
  background-color: #96B5E5;
}

.weather-icon img {
  /* Définir la largeur et la hauteur de l'image */
  width: 85px;
  height: 85px;
  /* Ajouter une couleur de fond */
  background-color: #96B5E5;
}

/* Style pour les informations météo */
.weather-info {
  /* Ajouter un padding et centrer le texte */
  padding: 5px;
  text-align: center;
}

#city-name {
  /* Supprimer la marge et définir la taille de police */
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

#temperature {
  /* Supprimer la marge et définir la taille de police */
  margin: 0;
  font-size: 20px;
}
